#### Tipe Data

In [1]:
a=2.2
print("Tipe data", a, "adalah", type(a))

Tipe data 2.2 adalah <class 'float'>

In [17]:
b="Caca"
print("Tipe data", b, "adalah", type(b))
c=7
print("Tipe data", c, "adalah", type(c))
d=1<0
print(d)
print("Tipe data", d, "adalah", type(d))

Tipe data Caca adalah <class 'str'>
Tipe data 7 adalah <class 'int'>
False
Tipe data False adalah <class 'bool'>

#### end=" " , untuk mencetak tanpa enter (spasi)

In [27]:
print("Halo")
print("Caca")

Halo
Caca

In [3]:
print("Halo", end="")
print("Caca")

HaloCaca

In [31]:
print("Hallo", end=" ")
print("Caca")

Hallo Caca

#### print(" "), untuk pindah baris 1 kali tanpa mencetak apa2

In [42]:
print("Pagiee")
print("")
print("Apa Kabarr?")

Pagiee

Apa Kabarr?

#### "\n" , untuk Mencetak dengan Enter

In [55]:
print("selamat pagi", "\n")
print("iya pagii")
a="Apa Kabarmu?"
print(a, "\n")
print("Baikk")
print("\nAlhamdulillah")

selamat pagi

iya pagii
Apa Kabarmu?

Baikk

Alhamdulillah

#### "\t" , untuk mencetak dengan Tab

In [69]:
print("\tParagraf ini")
print("adalah paragraf pertama","\t")
a="hahaha"
print(a, "\t")

	Paragraf ini
adalah paragraf pertama
hahaha

#### Konversi tipe data

In [77]:
a= input('Masukkan Panjang: ')
a= int(a)
b= input("Masukkan Lebar")
b= int(b)
c= a*b 
print(c)

Masukkan Panjang:  5
Masukkan Lebar 9

45

In [88]:
a= input(int("Masukkan Panjang: ")
b= input(int("Masukkan Lebar: ")
c= a*b
print(c)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4203580371.py, line 1)

In [94]:
a= '1000'
print("Tipe data a adalah", type(a))

Tipe data a adalah <class 'str'>

In [3]:
mahasiswa = [
    [1, "Regita Putri Permata", "22960008"],
    [2, "Zahira Kayla", "103102400022"],
    [3, "Adinda Citra", "103102400001"]
]
print("No Nama NIM")
print("-" * 30)
for mhs in mahasiswa : 
    print(mhs[0], mhs[1], mhs[2])

No Nama NIM
------------------------------
1 Regita Putri Permata 22960008
2 Zahira Kayla 103102400022
3 Adinda Citra 103102400001

In [25]:
nama = "Caca"
umur = 18
print(f"Nama saya adalah {nama} dan saya berumur {umur} tahun.")

Nama saya adalah Caca dan saya berumur 18 tahun.

#### f string untuk memformat angka dgn dua digit

In [30]:
# input waktu mulai
jam = int(input("Waktu mulai (jam): "))
menit = int(input("Waktu mulai (menit): "))
# input durasi kegiatan
durasi = int(input("Durasi kegiatan (minutes): "))
# menambahkan durasi ke waktu mulai
menit += durasi
if menit >= 60:
    jam += menit // 60
    menit = menit % 60
print(f"Kegiatan selesai pada jam {jam:02}:{menit:02}")

Waktu mulai (jam):  2
Waktu mulai (menit):  10
Durasi kegiatan (minutes):  30

Kegiatan selesai pada jam 02:40

In [48]:
teks_multibaris='''caca 
dan 
fatih'''
print(teks_multibaris)

caca
dan
fatih

In [50]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print(f"\nHalo, aku {nama} dan aku {makan} makan ayam goreng yang harganya Rp {harga}")

Masukkan nama Anda:  caca
Berapa harganya?:  24000

Halo, aku caca dan aku sudah makan ayam goreng yang harganya Rp 24000

In [52]:
a=2**4
print(a)

16

In [74]:
import math

In [76]:
bilangan = float(input("Masukkan bilangan: "))
hasil = math.sqrt(bilangan)
print(f"Akar kuadrat: {hasil}")

Masukkan bilangan:  4

Akar kuadrat: 2.0

In [85]:
a = int(input("Masukkan nilai a: "))
b = int(input("Masukkan nilai b: "))
c = int(input("Masukkan nilai c: "))
diskriminan = (b**2) - 4*a*c

x1 = (-b + math.sqrt(diskriminan)) / (2*a)
x2 = (-b - math.sqrt(diskriminan)) / (2*a)

print(x1,x2)

Masukkan nilai a:  2
Masukkan nilai b:  -5
Masukkan nilai c:  3

1.5 1.0

In [87]:
b = [25, 50, 45, 50, 25, 20, 30]

for i in b : 
    rata_rata=sum(b) / len(b)
print(rata_rata)

35.0