# PENGENALAN PYTHON

## Syntax Dasar

Syntax adalah aturan penulisan kode Python. Syntax yang benar akan memastikan bahwa kode dapat dijalankan dengan benar.

Contoh Kode Python:

In [ ]:
#string
print('Hello World!') #Output menggunakan print()
print(f'Hello World!')

Hello World!
Hello World!

In [ ]:
print("Saya Zahira")
print(f"Saya Zahira")

Saya Zahira
Saya Zahira

Kode di atas mencetak teks "Hello, world!" ke layar. Syntax yang benar adalah sebagai berikut:

* Kata kunci print() digunakan untuk mencetak data ke layar.
* Data yang akan dicetak diletakkan di dalam tanda kurung setelah kata kunci print().
* Jika data yang akan dicetak adalah teks, maka harus dikelilingi dengan tanda kutip.

In [ ]:
print(16) #integer

16

In [ ]:
print(12.677) #float

12.677

## Komentar

komentar biasa digunakan untuk menjelaskan kode python. Komentar tidak akan diinterpretasikan oleh Python dan hanya akan ditampilkan sebagai teks.

In [ ]:
# ini namanya komentar, diawali dengan tanda pagar(#)
"""kalo ini
namanya komentar
multiline"""

print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

## Variabel

Variabel adalah media penyimpanan data yang nilainya dapat berubah selama proses eksekusi.
*   Tidak perlu dideklarasikan tipe datanya.
*   Variabel akan ada (terdeklarasikan) Ketika variable tersebut diberi nilai
* Variabel harus diisi terlebih dahulu sebelum dipanggil
* Nilai dapat berubah di dalam program
* Tipe data secara otomatis dikenali oleh python dan interprete akan
mengalokasikan memori sesuai dengan tipe data dari variable yang dikenali.
* Tipe data dari sebuah variable dapat kita ubah di tengah-tengah program dengan
menggunakan fungsi khusus, walaupun hal tersebut jarang dilakukan.
* Bersifat case sensitive

Format penulisan :

NamaVariabel = IsiVariabel

In [ ]:
# Variabel
Nama = Zahira
umur = 18
status_pernikahan = "Belum menikah"
statuspernikahan = "Menikah"

## Multistatement variable

In [ ]:
nama = "Zahira"
a = 10; b = 56
kesibukan, keterangan = 'Berkuliah','Institut Teknologi Telkom Surabaya'

In [ ]:
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Zahira dan Umur saya adalah 66 Tahun dan sedang Berkuliah di Institut Teknologi Telkom Surabaya

## Pengaturan tampilan

* end=" " , untuk mencetak tanpa enter
* print(" ") , untuk pindah baris 1 kali tanpa mencetak apa2
* "\n" , untuk Mencetak dengan Enter
* print("\n") , untuk Enter
* "\t" , untuk mencetak dengan Tab

In [ ]:
print("Hallo", end=" ")
print("Caca")
print("")
print("Apa Kabarr?")
print("selamat pagi", "\n")
print("iya pagii")
print("\n") #jarak enter nya lebih lebar
print("\tbuat paragraf bagus ini")

Hallo Caca

Apa Kabarr?
selamat pagi

iya pagii


	buat paragraf bagus ini

## Tipe Data

In [ ]:
nama = "Zahira"
usia = 18
tinggi = 2.56
benar = True

print(type(nama))
print(type(usia))
print(type(tinggi))
print(type(benar))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Kode di atas mencetak tipe data dari setiap variabel.

* Variabel nama adalah tipe data string.
* Variabel usia adalah tipe data integer.
* Variabel tinggi adalah tipe data float.
* Variabel benar adalah tipe data boolean.

## Konversi tipe data

In [ ]:
nim = 103102400022
print("Tipe data nim adalah", type(nim))
nims = str(nim)
print("Tipe data nims adalah", type(nims))

Tipe data nim adalah <class 'int'>
Tipe data nims adalah <class 'str'>

## Input dari pengguna

In [ ]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print(f"\nHalo, aku {nama} dan aku {makan} makan ayam goreng yang harganya Rp {harga}")

Masukkan nama Anda: caca
Berapa harganya?: 24000

Halo, aku caca dan aku sudah makan ayam goreng yang harganya Rp 24000

## Import Modul

In [ ]:
# import seluruh modul
import pandas as pd

In [ ]:
import numpy

In [ ]:
# import beberapa komponen di modul
from math import sqrt
from pandas import DataFrame
from numpy import random

In [ ]:
import math

In [ ]:
bilangan = float(input("Masukkan bilangan: "))
hasil = math.sqrt(bilangan)
print(f"Akar kuadrat: {hasil}")

Masukkan bilangan: 9
Akar kuadrat: 3.0

Kita perlu import math karena fungsi sqrt (menghitung akar kuadrat) adalah bagian dari modul math di Python. Modul math berisi fungsi matematika yang tidak tersedia langsung di Python, seperti sqrt, sin, cos, dll.

## Operators

Operators adalah simbol yang digunakan untuk melakukan operasi pada data. Python memiliki berbagai jenis operators, yaitu:

**Operator Aritmatika**

Operator aritmatika digunakan untuk melakukan operasi matematika pada data. Operator aritmatika yang tersedia di Python meliputi:

Bentuk outputnya setelah tanda pagar

In [ ]:
a = 10
b = 20

c = a + b  # c = 30 (Penjumlahan)
d = a - b  # d = -10 (Pengurangan)
e = a * b  # e = 200 (Perkalian)
f = a / b  # f = 0.5 (Pembagian)
g = a ** b # g = 100000000000 (Perpangkatan)
h = a % b  # h = 0 (Sisa bagi)
i = a // b # i = 0 (Pembagian bulat)

**Operator Relasi**

Operator relasi digunakan untuk membandingkan dua nilai. Operator relasi yang tersedia di Python meliputi:

In [ ]:
a = 10
b = 20

c = a == b  # c = False (Sama dengan)
d = a != b  # d = True (Tidak sama dengan)
e = a > b   # e = False (Lebih dari)
f = a < b   # f = True (Kurang dari)
g = a >= b  # g = False (Lebih dari atau sama dengan)
h = a <= b  # h = True (Kurang dari atau sama dengan)

**Operator Penugasan**

Operator penugasan digunakan untuk menyimpan nilai ke dalam variabel. Operator penugasan yang tersedia di Python meliputi:

In [ ]:
a = 10

a = a + 1   # a = 11 (Penugasan sederhana)
a += 1      # a = 12 (Penugasan dengan penjumlahan)
a -= 1      # a = 11 (Penugasan dengan pengurangan)
a *= 2      # a = 22 (Penugasan dengan perkalian)
a /= 2      # a = 11.0 (Penugasan dengan pembagian)
a **= 2     # a = 121.0 (Penugasan dengan perpangkatan)
a %= 2      # a = 1.0 (Penugasan dengan sisa bagi)
a //= 2     # a = 0.0 (Penugasan dengan pembagian bulat)

**Operator Logika**

Operator logika digunakan untuk menggabungkan dua atau lebih pernyataan logika. Operator logika yang tersedia di Python meliputi:

In [ ]:
a = True
b = False

c = a and b  # c = False (Dan)
d = a or b   # d = True (Atau)
e = not a    # e = False (Bukan)

**Operator Keanggotaan/List**

Operator keanggotaan digunakan untuk memeriksa apakah suatu nilai termasuk dalam sebuah kumpulan data. Operator keanggotaan yang tersedia di Python meliputi:

In [ ]:
angka = [1, 2, 3, 4, 5]

c = 1 in angka    # c = True (Ada)
d = 6 in angka    # d = False (Ada)
e = 1 not in angka # e = False (Tidak ada)
f = 6 not in angka # f = True (Tidak ada)

**Operator Identitas**

Operator identitas digunakan untuk memeriksa apakah dua variabel merujuk ke objek yang sama. Operator identitas yang tersedia di Python meliputi:

In [ ]:
a = 10
b = 10

c = a is b      # c = True (sama)
d = a is not b  # d = False (Tidak sama)
e = a = b       # a = b = 10 (sama)
f = a is b      # f = True (sama)

[link materi operasi] https://github.com/regitapermata30/Modul-Algoritma-Pemrograman/wiki

## Percabangan

**Percabangan 'If' (Single Alternative Selection):**

digunakan untuk melakukan suatu tindakan jika kondisi tertentu terpenuhi.

In [2]:
umur = 20
if umur >= 18:
   print("Anda sudah dewasa.")

Anda sudah dewasa.

**Percabangan 'If-Else' (Dual Alternative Selection):**

In [ ]:
# Menentukan apakah bilangan ganjil atau genap

bil = 10

if bil % 2 == 0:
    print("Bilangan genap")
else: #else digunakan ketika tidak ada kondisi yg perlu dicek
    print("Bilangan ganjil")

Bilangan genap

Pada contoh kode di atas, kita menggunakan perintah if untuk menentukan apakah bilangan tersebut merupakan bilangan ganjil atau genap.

* if adalah kata kunci untuk memulai perintah if
* bil % 2 == 0 adalah kondisi yang akan diuji
* bil == 2 adalah tindakan yang akan dilakukan jika kondisi terpenuhi
* else adalah kata kunci untuk memulai blok kode yang akan dijalankan jika kondisi tidak terpenuhi
* print("Bilangan ganjil") adalah tindakan yang akan dilakukan jika kondisi tidak terpenuhi

**Operator Logika**

Operator logika digunakan untuk menggabungkan dua atau lebih kondisi.

In [ ]:
# Menentukan apakah nilai lebih besar dari 10 dan kurang dari 20

nilai = 15

if nilai > 10 and nilai < 20:
    print("Nilai valid")
else:
    print("Nilai tidak valid")

Nilai valid

**Percabangan 'If-Elif-Else' (Multiple Alternative Selection):**

Percabangan if bertingkat digunakan untuk menguji lebih dari satu kondisi.

In [ ]:
# Menentukan apakah bilangan positif, negatif, atau nol

bil = float(input("Masukkan bilangan: "))

if bil > 0:
    print("Bilangan positif")
elif bil < 0: #kondisi kedua, jika kondisi pertama tidak terpenuhi
    print("Bilangan negatif")
else:
    print("Bilangan nol")

Masukkan bilangan: -2.27
Bilangan negatif

**Pernyataan if Bersarang (*if nested*)**

Pernyataan if bersarang digunakan untuk menguji kondisi yang saling bergantung.

In [ ]:
# Menentukan apakah bilangan positif, negatif, atau nol, dan apakah bilangan tersebut merupakan bilangan prima

bil = float(input("Masukkan bilangan: "))

if bil > 0:
    # Bilangan positif
    if bil % 2 == 0: #ini if nested nya
        print("Bilangan positif dan genap")
    else:
        print("Bilangan positif dan bukan genap")
elif bil < 0:
    # Bilangan negatif
    print("Bilangan negatif")
else:
    # Bilangan nol
    print("Bilangan nol")

Masukkan bilangan: 7
Bilangan positif dan bukan genap

## Perulangan (Looping)

**Perintah for**

Perintah for digunakan untuk mengulangi blok kode tertentu sejumlah kali. Blok kode tersebut akan dieksekusi sebanyak jumlah elemen dalam iterasi.

In [13]:
list = [1,2,3,4,5,6] #for loop dalam list
for i in list:
    print("Bos mencaci pegawainya hingga yg ke", i, "kalinya")

Bos mencaci pegawainya hingga yg ke 1 kalinya
Bos mencaci pegawainya hingga yg ke 2 kalinya
Bos mencaci pegawainya hingga yg ke 3 kalinya
Bos mencaci pegawainya hingga yg ke 4 kalinya
Bos mencaci pegawainya hingga yg ke 5 kalinya
Bos mencaci pegawainya hingga yg ke 6 kalinya

In [14]:
for i in range(1,6):
    print("Bos mencaci pegawainya hingga yg ke", i, "kalinya")

Bos mencaci pegawainya hingga yg ke 1 kalinya
Bos mencaci pegawainya hingga yg ke 2 kalinya
Bos mencaci pegawainya hingga yg ke 3 kalinya
Bos mencaci pegawainya hingga yg ke 4 kalinya
Bos mencaci pegawainya hingga yg ke 5 kalinya

In [12]:
list_angka = range(5)
for i in list_angka:
    print(f"Angka sekarang -> {i}")

Angka sekarang -> 0
Angka sekarang -> 1
Angka sekarang -> 2
Angka sekarang -> 3
Angka sekarang -> 4

In [10]:
for i in range(0,10,2): #angka ketiga dalam range adalah stepnya
    print(i)

0
2
4
6
8

In [11]:
for huruf in "Zahira":
    print(huruf)

Z
a
h
i
r
a

**perintah while**

Perintah while digunakan untuk mengulangi blok kode tertentu selama kondisi tertentu terpenuhi (true).

In [7]:
angka = 3
while angka < 6: #batas: hanya berjalan selama <6
    angka += 1  # menambah angka agar loop mendekati kondisi, berhenti
    print("Caca jenius")

Caca jenius
Caca jenius
Caca jenius

In [4]:
angka = 0
while angka < 5:
    angka += 1
    print(f"Angka skrg -> {angka}")
    print("caca jago coding")

Angka skrg -> 1
caca jago coding
Angka skrg -> 2
caca jago coding
Angka skrg -> 3
caca jago coding
Angka skrg -> 4
caca jago coding
Angka skrg -> 5
caca jago coding

**Nested loops**

adalah loop di dalam loop lain. Loop luar menjalankan iterasinya sekali, lalu loop dalam berjalan sepenuhnya untuk setiap iterasi loop luar.  Biasanya untuk bekerja dengan data bersarang (contoh: tabel, matriks, atau pola).

In [24]:
for i in range(3):         # Loop luar
    for j in range(2):     # Loop dalam
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [18]:
for i in range(5): # Loop luar: untuk baris
    for j in range (i+1): # Loop dalam: untuk jumlah bintang di tiap baris
        print("*", end=" ") # Cetak bintang di baris, tanpa pindah baris
    print(' ') # Pindah ke baris baru setelah selesai satu baris

*
* *
* * *
* * * *
* * * * *

In [19]:
n = 4
for i in range(n):
    for j in range(i+1):
        print(i+j, end=" ")
    print()

0
1 2
2 3 4
3 4 5 6

## Break, Continue, Pass

**Perintah break**

Perintah break digunakan untuk menghentikan eksekusi loop saat ini.

In [7]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [16]:
# Break
angka=0
print(f"Angka sekarang -> {angka}")

while angka < 5:
    angka +=1
    print(f"Angka sekarang -> {angka}")

    if angka ==3:
        print("GOOD!")
        break

    print(f"yooo semangad.")
print(f"cukup sudah")

Angka sekarang -> 0
Angka sekarang -> 1
yooo semangad.
Angka sekarang -> 2
yooo semangad.
Angka sekarang -> 3
GOOD!
cukup sudah

**Perintah continue**

Perintah continue digunakan untuk menghentikan eksekusi blok kode saat ini, tetapi melanjutkan ke iterasi berikutnya.

In [8]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
# Continue
angka=0
print(f"Angka sekarang -> {angka}")

while angka < 5:
    angka +=1
    print(f"Angka sekarang -> {angka}")

    if angka ==3:
        print("GOOD!")
        continue

    print(f"yooo semangad.")
print(f"cukup sudah")

Angka sekarang -> 0
Angka sekarang -> 1
yooo semangad.
Angka sekarang -> 2
yooo semangad.
Angka sekarang -> 3
GOOD!
Angka sekarang -> 4
yooo semangad.
Angka sekarang -> 5
yooo semangad.
cukup sudah

**Perintah pass**

Perintah pass digunakan saat Anda perlu menulis blok kode kosong tanpa melakukan apa-apa, agar kode tidak error.

In [9]:
# pass -> dia berfungsi sebagai dummy, tidak akan dieksekusi

angka=0

while angka<5:
    angka+=1
    if angka ==3:
        pass
    print(angka)

1
2
3
4
5

## Fungsi len

Fungsi len digunakan untuk menghitung jumlah elemen dalam sebuah objek, seperti list, tuple, string, atau dictionary.

In [21]:
# Menggunakan len pada berbagai tipe data
data_list = [10, 20, 30, 40]
data_string = "Python"
data_dict = {"a": 1, "b": 2, "c": 3}

print(len(data_list))    # Output: 4 (ada 4 elemen dalam list)
print(len(data_string))  # Output: 6 (ada 6 karakter dalam string)
print(len(data_dict))    # Output: 3 (ada 3 kunci dalam dictionary)

4
6
3

## Fungsi Sum

Fungsi sum digunakan untuk menghitung total nilai dari elemen-elemen numerik dalam sebuah iterable (seperti list atau tuple).

In [23]:
# Menggunakan sum untuk menghitung total elemen
data_list = [10, 20, 30, 40]
data_tuple = (1, 2, 3, 4)

print(sum(data_list))    # Output: 100 (10 + 20 + 30 + 40)
print(sum(data_tuple))   # Output: 10 (1 + 2 + 3 + 4)

100
10

Biasanya, len dan sum sering digunakan bersama untuk menghitung rata-rata.

### tugas presentasi mandiri

In [20]:
total_pembelian = float(input("Masukkan total pembelian"))

# Menghitung diskon berdasarkan total pembelian
if total_pembelian > 1000000:
    diskon = 0.10*total_pembelian
elif total_pembelian >= 500000 and total_pembelian <= 1000000:
    diskon = 0.05*total_pembelian
else:
    diskon = 0
print("Diskon yang Anda terima adalah: ", diskon)

total_setelah_diskon = total_pembelian - diskon
print("Total pembelian anda adalah: ", total_setelah_diskon)

Masukkan total pembelian555555
Diskon yang Anda terima adalah:  27777.75
Total pembelian anda adalah:  527777.25

### ujian

In [25]:
harga_buku = [30,25,40,20,35]
penjualan_buku = [5,3,4,10,6]
nama_buku = ['A', 'B', 'C', 'D', 'E']

total_pendapatan = 0
for i in range(len(harga_buku)):
    pendapatan = harga_buku[i] * penjualan_buku[i]
    total_pendapatan += pendapatan
    print(f"Pendapatan dari Buku {nama_buku[i]} : {pendapatan} ribu IDR ({harga_buku[i]} * {penjualan_buku[i]})")

print(f"\nTotal pendapatan dari penjualan semua buku: {total_pendapatan} ribu IDR")

Pendapatan dari Buku A : 150 ribu IDR (30 * 5)
Pendapatan dari Buku B : 75 ribu IDR (25 * 3)
Pendapatan dari Buku C : 160 ribu IDR (40 * 4)
Pendapatan dari Buku D : 200 ribu IDR (20 * 10)
Pendapatan dari Buku E : 210 ribu IDR (35 * 6)

Total pendapatan dari penjualan semua buku: 795 ribu IDR

In [26]:
usia_anak = [8,12,9,16,14,16,4,10]
total_uang_saku = 0

for i in usia_anak:
    if i < 10:
        uang_saku_per_minggu = 10
    elif i <= 15:
        uang_saku_per_minggu = 15
    else:
        uang_saku_per_minggu = 20
    total_uang_saku += uang_saku_per_minggu

print(f"Total uang saku yang diberikan kepada semua anak Keluarga Wijaya dalam satu minggu adalah: ${total_uang_saku}")

Total uang saku yang diberikan kepada semua anak Keluarga Wijaya dalam satu minggu adalah: $115